* {
}
body {
}
.DetailRow {
  margin: 0 !important;
  background-color: antiquewhite;
}
.DFlexCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.CenterHeading {
  font-size: 32px;
  max-width: 500px;
}
.SubContent {
  font-size: 16px;
  max-width: 600px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.InputWrraper {
  display: flex;
  border-color: #e7e7e9;
  background-color: red;
  -webkit-box-shadow: none;
  box-shadow: none;
  align-items: center;
  padding: 1rem 2rem;
  width: 40rem;
  border-radius: 50px;
  justify-content: left;
}
.InputWrraper input {
  border: none;
  outline: none;
}
